body{
    margin:0px;
    paddding:0px;  
}

#menu{
    width:100%;
    height:100px;
    position:fixed;
        background-color:red;
}

#gallery{
    width:100%;
    height:500px;
    background-color:white;
    
    background-image:url("../img/1.jpg");
    
    background-size:cover;
    background-repeat:no-repeat;
    
}

#show{
    width:100%;
    height:1000px;
    overflow-y:auto;
    background-color:yellow;
}

.block{
    width:300px;
    height:250px;
    
    margin-left:25px;
    margin-top:25px;
    display: inline-block;
    background-color:blue;
    
}

.loadmore{
    padding:20px;
    background-color:green;
    text-align:center;
    color:white;
    text-decoration:none;
    margin-left:50px;
    margin-top:50px;
    
}









body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px solid slategrey;
}