body{
    margin:0px;
    padding:0px;
}
h1{
    text-align: center;
}
.course{
    background-color:#efefef;
    border: 1px solid #d8d8d8;
    width:100%;
    height:150px;
    margin-bottom:10px;
}

h2{
    text-align:center;
}